body {background-color:black;}
h1{
    font-family: verdana;
    color:grey;
    text-align: center;
}
.maindiv{
    /*text-align:start;*/
    margin:auto;
    width:300px;
    background-color: white;
    padding:20px;
    border-radius: 30px;
}
.highlight{
    background-color: yellow;
}
label{
    display: inline-block;
    width:100px;
    text-align: left;
}
